@import "../fonts/fira/fira_code.css";
@import "../../node_modules/font-awesome/scss/font-awesome";

@import "../../node_modules/bootstrap-grid/dist/grid";

@import url('https://fonts.googleapis.com/css?family=Raleway:300,500&subset=latin-ext');

@mixin hoverable($opacity: .2) {
  transition: opacity .4s ease, filter .4s ease;

  filter: grayscale(100%);
  opacity: $opacity;

  &:hover { opacity: 1; filter: none }
}

$block-padding: 5rem;
$footer-height: 1.5rem;

$sans-serif-font: "Raleway", sans-serif;

$transform-time: 200ms;

* {
  box-sizing: border-box;
  transition: color $transform-time ease, background $transform-time ease;
}

html, body {
  margin: 0;
  padding: 0;

  font-family: $sans-serif-font;
}

a {
  text-decoration: none;
}

.empty { opacity: .1 }

pre {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  overflow-x: auto;

  &.keylighter {
    padding: 1rem 0 !important;

    .line {
      padding-left: $block-padding;
      code {
        position: relative;
        white-space: pre;

        span.counter {
          position: absolute;
          right: 100%;
          white-space: nowrap;
          padding-right: 20px;

          &::before {
            content: attr(data-ln);
          }
        }
      }
    }
  }
}

#header {
  padding: 0 $block-padding;

  h1 {
    font-weight: 300;
    margin-bottom: 0;
  }

  aside {
    p {
      font-weight: 300;
    }
  }

  margin-bottom: 15px;

  @include hoverable(.3);
}

#footer {
  padding: 0 $block-padding;
  margin: 2rem 0;

  line-height: $footer-height;
  height: $footer-height;
  text-align: right;

  img {
    height: $footer-height;
    display: inline-block;
    margin-left: .3rem;
    float: right;
  }

  @include hoverable;

  z-index: 0;
}

code {
  font-family: 'Fira Code', 'Fira Mono', monospace !important;
  line-height: 1.5;
  font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
  white-space: pre-wrap;
  word-break: break-all;
  font-weight: 300;
}

form.absolute {
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  opacity: .03;

  z-index: 1000;

  @include hoverable(.03);
}

#upload-form {
  margin: 3rem auto;
  max-width: 1024px;
  padding: 0 3rem
}

@media(max-width: 1023px) {
  form.absolute {
    position: static;
    width: 100%;
    opacity: 1;
  }

  .mobile-break {
    display: block;
    visibility: hidden;
    height: .5rem;
  }

  #header { opacity: 1; filter: none; }
}

.control {
  display: block;
  border: none;
  background: white;
  padding: 8px;
  width: 100%;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 1px 1px 1px rgba(black, .15);
  border-radius: 1px;
}

#key-input {
  position: relative;

  > button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    box-shadow: none;
    border-bottom: none;

    @include hoverable(.2);
  }
}

input, textarea {
  @extend .control;
}

button {
  display: inline-block;
  border-bottom: 3px solid #ff9700;
  font-weight: bold;

  @extend .control;

  cursor: pointer;
}

label {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-bottom: .25rem;
  display: block;
}