@import "../../vendor/kadet/keylighter/Styles/Html/github";
@import "../fonts/fira/fira_code.css";

@import "../../node_modules/font-awesome/scss/font-awesome";

@import url('https://fonts.googleapis.com/css?family=Raleway:300,500&subset=latin-ext');

* {
  box-sizing: border-box;
}

$block-padding: 5rem;
$footer-height: 25px;

$colors

html, body {
  margin: 0;
  background: $background;

  padding: 0;

  font-family: 'Raleway', sans-serif;
  color: $foreground;
}

a {
  text-decoration: none;
}

pre {
  margin: 0;

  font-weight: 400;
  font-size: 14px;

  &.keylighter {
    padding: 1rem 0 !important;

    .line {
      padding: 0 $block-padding;
      code {
        position: relative;

        span.counter {
          position: absolute;
          right: 100%;
          white-space: nowrap;
          padding-right: 20px;

          &::before {
            content: attr(data-ln);
            @extend .comment;
          }
        }
      }
    }
  }
}

#header {
  padding: 0 $block-padding;


  h1 {
    font-weight: 300;
    margin-bottom: 0;
  }

  aside {
    p {
      font-weight: 300;
    }
  }

  margin-bottom: 15px;
}

#footer {
  padding: 0 $block-padding;
  position: fixed;
  bottom: 2rem; left: 0; right: 0;

  line-height: $footer-height;
  height: $footer-height;
  text-align: right;

  filter: grayscale(100%);

  img {
    height: $footer-height;
    display: inline-block;
    margin-left: .3rem;
    float: right;
  }

  transition: opacity .4s ease, filter .4s ease;
  opacity: .5;
  &:hover { opacity: 1; filter: none }
}

code {
  font-family: 'Fira Code', 'Fira Mono', monospace !important;
  line-height: 1.5;
  font-feature-settings: "calt" 1;  /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
  white-space: pre-wrap;
  word-break: break-all;
}

form.absolute {
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  opacity: .03;

  &:hover {
    opacity: 1;
  }
}

@media(max-width: 1023px) {
  form.absolute {
    position: static;
    width: 100%;
    opacity: 1;
  }
}

input, textarea {
  display: block;
  border: none;
  background: white;
  padding: 8px;
  width: 100%;
  margin-bottom: 1rem;
  font-family: 'Fira Code', 'Fira Mono', monospace !important;
}

label {
  color: $foreground;
  font-family: "Fira Code", monospacec;
}