@import "../fonts/fira/fira_code.css";
@import "../../node_modules/font-awesome/scss/font-awesome";

@import url('https://fonts.googleapis.com/css?family=Raleway:300,500&subset=latin-ext');

* {
  box-sizing: border-box;
}

@mixin hoverable($opacity: .2) {
  transition: opacity .4s ease, filter .4s ease;

  filter: grayscale(100%);
  opacity: $opacity;

  &:hover { opacity: 1; filter: none }
}

$block-padding: 5rem;
$footer-height: 1.5rem;

html, body {
  margin: 0;
  padding: 0;

  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

.empty { opacity: .1 }

pre {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  overflow-x: auto;

  &.keylighter {
    padding: 1rem 0 !important;

    .line {
      padding-left: $block-padding;
      code {
        position: relative;
        white-space: pre;

        span.counter {
          position: absolute;
          right: 100%;
          white-space: nowrap;
          padding-right: 20px;

          &::before {
            content: attr(data-ln);
          }
        }
      }
    }
  }
}

#header {
  padding: 0 $block-padding;

  h1 {
    font-weight: 300;
    margin-bottom: 0;
  }

  aside {
    p {
      font-weight: 300;
    }
  }

  margin-bottom: 15px;

  @include hoverable(.1);
}

#footer {
  padding: 0 $block-padding;
  margin: 2rem 0;

  line-height: $footer-height;
  height: $footer-height;
  text-align: right;

  img {
    height: $footer-height;
    display: inline-block;
    margin-left: .3rem;
    float: right;
  }

  @include hoverable;
}

code {
  font-family: 'Fira Code', 'Fira Mono', monospace !important;
  line-height: 1.5;
  font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
  white-space: pre-wrap;
  word-break: break-all;
}

form.absolute {
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  opacity: .03;

  &:hover {
    opacity: 1;
  }
}

@media(max-width: 1023px) {
  form.absolute {
    position: static;
    width: 100%;
    opacity: 1;
  }

  .mobile-break {
    display: block;
    visibility: hidden;
    height: .5rem;
  }

  #header { opacity: 1; filter: none; }
}

input, textarea {
  display: block;
  border: none;
  background: white;
  padding: 8px;
  width: 100%;
  margin-bottom: 1rem;
  font-family: 'Fira Code', 'Fira Mono', monospace !important;
}

label {
  font-family: "Fira Code", monospace;
}