@import "../../../vendor/kadet/keylighter/Styles/Html/keylighter";

$color-line: #444;
$color-link: $yellow;
$color-background: $background;
$color-foreground: #ccc;
$color-highlight: rgba(#ff9700, .05);

@import "common";