{% extends "layout.html.twig" %}

{% block content %}
    <form action="/" method="post" id="upload-form">
        <div class="row">
            <div class="col-md-7">
                <label for="title">Title</label>
                <input name="title" id="title" />
            </div>
            <div class="col-md-5">
                <label for="language"><i class="fa fa-fw fa-code"></i> Language</label>
                <input name="language" id="language" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                        <label for="author"><i class="fa fa-fw fa-user"></i> Author</label>
                        <input name="author" id="author" />
                    </div>
                    <div class="col-md-6">
                        <label for="key"><i class="fa fa-fw fa-key"></i> Key</label>
                        <div id="key-input">
                            <input name="key" id="key"/>
                            <button id="key-save" type="button" title="Remember key"><i class="fa fa-floppy-o"></i></button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="lines">
                            <i class="fa fa-fw fa-list"></i> Line mappings:
                        </label>

                        <small><code class="explanation">1:10</code> - makes line 1 to appear as 10</small>
                        <small><code class="explanation">!3:5</code> - highlights line from 3 to 5</small>

                        <input name="lines" id="lines"/>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <label for="description"><i class="fa fa-fw fa-comment-o"></i> Description</label>
                <textarea name="description" id="description" cols="30" rows="5"></textarea>
            </div>
        </div>
        <label for="paste">Code</label>
        <textarea name="paste" id="paste" cols="30" rows="20"></textarea>

        <button type="submit" class="button"><i class="fa fa-upload"></i> paste</button>
    </form>
{% endblock %}


{% block scripts %}
    <script>
        document.getElementById('key').value = window.localStorage.getItem("key");
        document.getElementById('key-save').addEventListener('click', function(e) {
            window.localStorage.setItem('key', document.getElementById('key').value);
            e.stopPropagation();
            e.preventDefault();
        })
    </script>
{% endblock %}