<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <title>{% block title '' %} Kadet's Bin</title>

        <link href="{{ asset('css/app.css') }}" rel="stylesheet" />
    </head>
    <body>
        {% block content '' %}
        {% block scripts '' %}
        <footer id="footer">
            kadet.net &copy; 2017 &bullet; <a href="#">#{{ version }}</a> &bullet; KeyLighter: {{ constant('\\Kadet\\Highlighter\\Keylighter::VERSION') }} &bullet; <img src="/img/kadet.png" class="logo"/>
        </footer>
    </body>
</html>
