<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} Kadet's Bin</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block content '' %}
    </body>
</html>
